@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(20, 22, 22);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page-container {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    padding: 10px;
    background-color: rgb(20, 22, 22);
}

/* Nav-Section --Start */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border-radius: 32px;
    border: 1px solid #e0d6c2;
    height: 50px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(86, 72, 44);
}

.nav-left {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    max-width: 100%;
}

.navbar a {
    text-decoration: none;
    color: rgb(216, 204, 178);
}

.nav-right {
    height: 100%;
    background: transparent;
    max-width: 100%;
}

.nav-left .nav-button {
    max-width: calc(100% - 3px);
    margin-right: 8px;
}

.nav-right .nav-button {
    margin-right: 5px;
}

.nav-left .nav-button:nth-child(1) {
    background: rgba(70, 61, 40, 0.2);
    padding: 0px 15% 0px;
    border: none;
}

.nav-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(130, 110, 72);
    padding: 0px 40px 0px 40px;
    border-radius: 28px;
    height: 95%;
    width: auto;
    max-width: 100%;
    transition: 0.3s ease;
    font-size: 14px;
}

.btn-hover:hover {
    background-color: rgb(53, 44, 27);
    transform: scale(1.1);
}

/* main-section */

.main-container {
    gap: 15px;
    max-height: 900px;
    margin-top: 20px;
}

/* main-left */

.main-left {
   background-color: rgb(68, 57, 37);
    border-color: rgba(140, 130, 115, 0.35);
    width: calc(33% - 10px);
    max-width: calc(33% - 10px);
    border-radius: 28px;
    position: relative;
    cursor: pointer;
}

.main-left:hover .img-con1 img {
    transform: scale(1.1);
    transform: scale(1.1);
}

/* main-right */

.main-right {
    width: 67%;
    gap: 15px;
    height: 100%;
}

.main-r-top:hover .img-con2 img{
    transform: scale(1.1);
}

.main-right .main-r-top {
    background-color: #8E886D;
    border-radius: 28px;
    height: 100%;
    position: relative;
}

.main-r-bottom {
    gap: 15px;
}

.main-right .main-r-b-l {
    background: #916E58;
    border-radius: 28px;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-right .main-r-b-l:hover .img-con3 img {
    transform: scale(1.2);
}

.main-right .main-r-b-r {
    background: #B1A48E;
    border-radius: 28px;
    position: relative;
}

.main-right .main-r-b-r:hover .img-con4 img {
    transform: scale(1.1);
}

.main-title {
    padding: 20px;
    padding-bottom: 10px;
}

.main-title .title p {
    background-color: transparent;
    border: 1px solid #342415;
    display: inline;
    border-radius: 14px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 400;
}

.main-title .heading h2 {
    margin: 20px 0px;
    text-decoration: underline;
}

.img-con1 img {
    background-size: cover;
    width: calc(100%-30px);
    max-width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.img-con1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    height: 550px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.main-bottom {
    justify-content: space-between;
    padding: 20px;
    margin: 2px;
    border-top: 1px solid rgb(71, 71, 71);
}

.img-con2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    width: 100%;
}

.img-con2 img {
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.img-con3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.img-con3 img {
    background-size: cover;
    max-width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.img-con4 {
    overflow: hidden;
    position: relative;
    min-height: 110px;
    min-width: 110px;
    border-radius: 50%;
}

.img-con4 img{
    transition: all 0.4s ease-in-out;
}

.main-r-b-r div {
    justify-content: space-between;
    margin: 10px;
}

.main-r-b-r div .title {
    margin: 0px;
}

.main-r-top {
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.main-r-bottom .main-r-b-r h2 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-r-top-title {
    align-items: center;
}

.underline{
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


.main-right .main-r-b-l:hover .underline::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* media query */

@media (max-width: 840px)  {

    .main{
        margin: auto;
        width: 100%;
    }
    
    .main-container{
        flex-direction: column;
        margin: auto;
    }

    .main-left{
        max-width: 100%;
        width: 100%;
    }

    .main-right{
        width: 100%;
    }

    .nav-left{
        width: 100%;
        text-align: center;
    }

    .logo{
        width: 100%;
    }

    .hide{
        display: none;
    }
}

@media (max-width: 540px)  {
 
    .main{
        margin: auto;
        width: 100%;
    }

    .main-container{
        flex-direction: column;
        margin: auto;
    }

    .main-left{
        max-width: 100%;
        width: 100%;
    }

    .main-right{
        width: 100%;
    }

    .main-r-bottom{
        flex-direction: column;
    }

    .hide{
        display: none;
    }
}